extends layout

block content
  h1 Add Task
  if errors
    each error in errors
      p(style="color:red") #{error.msg}
  form(method="POST", action="/tasks/add", id="taskForm")
    label Title:
    input(type="text", name="title")
    br
    label Description:
    input(type="text", name="description")
    br
    label Due Date:
    input(type="date", name="dueDate", id="dueDate")
    br
    label Estimated Time (minutes):
    input(type="number", name="estimatedTime", step="1", min="0")
    br
    input(value="Add Task", type="submit")