doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- I changed this because I think displaying the nav when you aren't logged in is redundent 
    if user
      nav
        a(href="/") Main 
        br
        a(href="/tasks") View Tasks
        br
        a(href="/tasks/add") Add Task
        br
        a(href="/users/logout") Logout
        br
        a(href="/users/profile") Settings
        br
      br

  .login-container
    section.login-form-section
      h1.login-title Log In
      form.login-form(method="POST", action="/users/login")
        .login-form-group
          label.login-label(for="email") Email
          input.login-input(type="email", id="email", name="email", placeholder="Email address", required)

        .login-form-group
          label.login-label(for="password") Password
          input.login-input(type="password", id="password", name="password", placeholder="password", required)

        button.login-button(type="submit") Log In

      p.login-register-text Don't have an account? 
        a.login-register-link(href="/users/register") Register

