doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- I changed this because I think displaying the nav when you aren't logged in is redundent 
    if user
      nav
        a(href="/") Main 
        br
        a(href="/tasks") View Tasks
        br
        a(href="/tasks/add") Add Task
        br
        a(href="/users/logout") Logout
        br
        a(href="/users/profile") Settings
        br
      br

    .register-container
      section.register-form-section
        h1.register-title Create Account
        form.register-form(method="POST", action="/users/register")
          .register-form-group
            label.register-label(for="name") Username
            input.register-input(type="text", id="name", name="name", placeholder="e.g., john_doe123", required)

          .register-form-group
            label.register-label(for="email") Email Address
            input.register-input(type="email", id="email", name="email", placeholder="example@email.com", required)

          .register-form-group
            label.register-label(for="password") Password
            input.register-input(type="password", id="password", name="password", placeholder="Create a strong password", required)

          button.register-button(type="submit") Register

        p.register-login-text Already have an account? 
          a.register-login-link(href="/users/login") Log in

      section.register-welcome-section
        h1.register-welcome-title Welcome to the Task Master!
        .register-welcome-message
          p.register-welcome-text We offer a full range of features to support efficient learning and keep you motivated. Create an account now and start learning!
          .register-icon-container
            img.register-icon-image(src="/images/register-learning.png", alt="learning icon")
